body {
    margin: 0 auto;
    background-color: black;
    color: #00ff15;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#popup,
#editbox {
    display: none;
}

#avatar {
    height: 100px;
    width: 100px;
}

#pokemon-container, #box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: calc(16.666% - 20px);
    max-width: calc(16.666% - 20px);
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.pokemon-sprite>img {
    width: 80px;
    height: 80px;
}

.pokemon-name {
    font-weight: bold;
    color: #00ffe5;
}

.pokemon-types {
    color: black;
    margin-top: 5px;
}

.pokemon-type {
    padding: 3px 8px;
    border-radius: 3px;
    margin-right: 5px;
}

.pokemon-stats {
    margin-top: 10px;
}

.progress-bar {
    width: 190px;
    background-color: #ddd;
    border-radius: 4px;
    color: black;
    outline: 1px solid darkgray;
}

.progress-exp,
.progress-hp {
    background-color: #0099ff;
    height: 20px;
    border-radius: 4px;
    width: 0%;
}

.hpcount,
.status {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.hpcount {
    top: 19.2px;
}

.status{
    width: 40px;
    margin: auto;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    margin-top: 7px;
    min-height: 19.2px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 15pt;
    z-index: 6;
}

.infobox {
    position: fixed;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
}